*{
	margin: 0px;
	padding: 0px;
}
body{
	background: linear-gradient(to top,#191919, #656565);
}
img{
	width: 400px;
	height: 250px;
}
.wrapper{
	width: 80%;
	height: auto;
	margin: 0px auto;
}
.heading{
	width: 100%;
	height: 90px;
	background: #656565;
	margin: 0px auto;
}
.heading_nav{
	padding-bottom: 30px;
	padding-top: 30px;
	width: 100%;
	height: 30px;
	position: relative;
}
.heading_title{
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 35px;
	font-weight: 600;
	color: burlywood;
	margin-right: 20px;
}
ul{
	margin-left: 65px;
	float: left;
	list-style-type: none;
	padding-top: 6px;
	padding-bottom: 6px;
	list-style: none;
}
li{
	padding-right: 60px;
	display: inline;
	list-style: none;
}
a:link, a:visited{
	font-weight: bold;
	color: #74818b;
	text-align: center;
	padding: 6px;
	/* 去掉下划线 */
	text-decoration: none;
}
a:hover, a:active{
	color: black;
}
.heading_img img{
	border-radius: 30px;
	display: inline;
	width: 40px;
	height: 40px;
	box-shadow: 0 1px 1px rgba(0,0,0,2);
	float: right;
}
.body{
	padding: 30px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 40px;
}
/* 设置间距 */
button {
	margin: 20px;
	margin-bottom: 40px;
	position: absolute;
}
/* 设置按钮默认通用情况 */
.custom-btn {
	width: 200px;
	height: 60px;
	/* 文字颜色 */
	color: #fff;
	/* 边框设置圆角 */
	border-radius: 5px;
	padding: 10px 25px;
	/* 设置字体 */
	font-family: 'Lato', sans-serif;
	/* 设置字体粗细 */
	font-weight: 500;
	font-size: 15px;
	/* 设置背景透明 */
	background: transparent;
	/* 设置指针放在一个元素边界范围内时所用的光标形状 */
	cursor: pointer;
	/* 将鼠标悬停在元素上时逐步改变表格的宽度 */
	transition: all 0.3s ease;
	position: relative;
	/* 设置段落生成一个行内块元素 */
	display: inline-block;
	/* 向元素添加阴影 */
	box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
	/* 设置元素周围的轮廓 */
	outline: none;

	line-height: 50px;
	padding: 0;
	border: none;
	background: rgba(142, 124, 103, 1.0);
}

.custom-btn:hover {
	color: burlywood;
	background: transparent;
	box-shadow:none;
}
.custom-btn:before, .custom-btn:after{
	content:'';
	position:absolute;
	top:0;
	right:0;
	height:4px;
	width:0;
	background: rgba(142, 124, 103, 1.0);
	transition: 400ms ease all;
}
.custom-btn:after{
	right:inherit;
	top:inherit;
	left:0;
	bottom:0;
}
.custom-btn:hover:before, .custom-btn:hover:after{
	width:100%;
	transition:800ms ease all;
}

.clean{
	clean();
}

.footing{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 20px;
	color: #757575;
}
.foot_a:hover, a:active{
	color: darkgray;
}

.return{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 23px;
	font-weight: 300;
	position: fixed;
	right: 21px;
	margin-top: 120px;
	border-color: #baa429;
	border-style: dotted;
	color: #998107;
	border-radius: 49px;
	width: 100px;
}