<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Bucket_Sort</title>
		<link href="../static/css/Content.css" type="text/css" rel="stylesheet"/>
	</head>
	<body>

        {% with message = get_flashed_messages() %}
            {% if message %}
                <div class="result" style="color: red">{{ message }}</div>
            {% endif %}
        {% endwith %}

		<a href="{{ url_for('main') }}"><div class="return">Return<br/>Back</div></a>
		<div class="body">
			<!-- 标题部分 -->
			<div class="body_title">Bucket Sort</div>
			<!-- 代码运行展示部分 -->
			<div class="show">
				<p>(Click Play to run the code to show the sorting process)</p>
				<a href="https://algorithm-visualizer.org/divide-and-conquer/bucket-sort" target="_blank">You can also click here to jump to the demo page</a>
				<video style="width: 100%; height: 700px;" controls>
                    <source src="../static/img/bucket_sort_video.mp4" type="video/mp4">
                </video>
			</div>
			<!-- 算法讲解部分 -->
			<div class="body_content">
				<div class="content_title">Theory:</div>
				<div class="content_text">
                    <ul>
                        <li>
                            Bucket sorting, as the name implies, is to put data into several ordered buckets, sort the data in each bucket, and finally take out the data in each bucket in order from small to large, that is, the sorting is completed.
                        </li>
                    </ul>
				</div>
				<div class="content_title">Tips：</div>
				<div class="content_text">
                    <ol>
                        <li>The number of buckets is determined by the number of buckets in this group.</li>
                        <li>The subscript of the bucket is determined by (number * array length/(maximum number +1))</li>
                    </ol>
				</div>
				<div class="content_title">Complexity:</div>
				<div class="content_text">
                    <ul>
                        <li>
                            If we have n pieces of data to sort, we divide them into m buckets, so that the data in each bucket is k = n/m.The time complexity of sorting in buckets is order k logk.M barrels is m * O (k * logk) = m * O (log (n/m) * (n/m)) = O (nlog (n/m)).Log of n over m is a smaller constant when the number of buckets is close to the number of data, so the time complexity is close to order n
                        </li>
                    </ul>
				</div>
				<div class="content_title">Application scenarios:</div>
				<div class="content_text">
                    <ul>
                        <li>
                            Although the time complexity of bucket sorting is linear, it is not a substitute for sorting algorithms with time complexity of O(nlogn) such as quicksort and merge.Because the bucket sorting scenario is very rigorous: first, the data should be evenly distributed.In the worst case, if all the data is in a bucket, does the time complexity of bucket sorting degenerate to O(nlogn)?Second, the data to be sorted should easily be divided into m buckets, and each bucket should also have a size order.
                        </li>
                    </ul>
				</div>
			</div>

            {% if posts %}
                <br><br>
                <hr><hr><br>
                <div class="post_title">Comment Area:</div>
                {% for post in posts %}
		            <div class="post" style="margin-left:30px; color: white">{{ post.author_id }}</div>
		            <div class="post" style="margin-left:30px; color: white">{{ post.create_date }}</div>
		            <div class="post" style="margin-left:30px; border-style:double; color: white" >{{ post.comment }}</div><br><br>
                {% endfor %}
            {% else %}
                <br><br>
                <hr><br>
                <div class="post">No post here. You can publish one first.</div><br><br>
            {% endif %}

            <form action="" method="post" novalidate style="width: 100%;">
                {{ form.hidden_tag() }}
                <div class="comment_body" >{{ form.content }}</div>
                <div class="comment_submit">{{ form.submit }}</div>
            </form>

		</div>

		<div class="footing">
			@Yunkai.li
			<br />
			Reference by <a href="https://algorithm-visualizer.org/">https://algorithm-visualizer.org/</a>
		</div>
	</body>
</html>
