<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Dynamic Programming</title>
		<link href="../static/css/Content.css" type="text/css" rel="stylesheet"/>
	</head>
	<body>

        {% with message = get_flashed_messages() %}
            {% if message %}
                <div class="result" style="color: red">{{ message }}</div>
            {% endif %}
        {% endwith %}

		<a href="{{ url_for('main') }}"><div class="return">Return<br/>Back</div></a>
		<div class="body">
			<!-- 标题部分 -->
			<div class="body_title">Dynamic Programming</div>
			<!-- 代码运行展示部分 -->
			<div class="show">
				<p>(Click Play to run the code to show the sorting process)</p>
				<a href="https://algorithm-visualizer.org/dynamic-programming/maximum-sum-path" target="_blank">You can also click here to jump to the demo page</a>
				<video style="width: 100%; height: 700px;" controls>
                    <source src="../static/img/maximum-sum-path.mp4" type="video/mp4">
                </video>
			</div>
			<!-- 算法讲解部分 -->
			<div class="body_content">
				<div class="content_title">Theory:</div>
				<div class="content_text">
                    <ul>
                        <li>
                            If the optimal solution of the problem can be derived from the optimal solution of the subproblem, the optimal solution of the subproblem can be solved first, and the optimal solution of the original problem can be constructed. If more subproblems are repeated, the final subproblems can be solved step by step from bottom to top.
                        </li>
                        <li>
                            In this example, let's take a classic problem in dynamic programming: the maximum path problem.
                        </li>
                    </ul>
                </div>
				<div class="content_title">Code (Java):</div>
                    <img src="../static/img/maximum_sum_path_code.png" style="width: 70%; height: auto;">
                <div class="content_title">Emphasis in dynamic programming:</div>
				<div class="content_text">
                    <ol>
                        <li>Analyze the structure of the optimal solution</li>
                        <li>Recursively define the cost of the optimal solution</li>
                        <li>The cost of the optimal solution is calculated from bottom to top, and the information of constructing the optimal solution is obtained</li>
                        <li>The optimal solution is constructed according to the information of the optimal solution</li>
                    </ol>
				</div>
				<div class="content_title">Tips:</div>
				<div class="content_text">
                    <ul>
                        <li>Divide the original problem into a series of sub-problems</li>
                        <li>Solve each sub-problem only once, and save the result in a table, then use direct access, no double calculation, save the calculation time</li>
                        <li>You do it from the bottom up</li>
                        <li>The optimal solution of the global problem depends on the optimal solution of the subproblem (the state transfer equation) (the subproblem is called the state, and the solution of the final state is reduced to the solution of other states).</li>
                    </ul>
				</div>
				<div class="content_title">Usage scenarios for dynamic programming:</div>
				<div class="content_text">
                    <ul>
                        <li>Optimal substructure: A problem is said to have an optimal substructure if the optimal solution contains the optimal solution to the subproblem.</li>
                        <li>No aftereffect: Once a state is determined, it is not affected by subsequent decisions of that state.</li>
                        <li>Overlapping subproblems: subproblems are not independent of each other, and a subproblem may be used multiple times in the next phase of the decision.</li>
                    </ul>
				</div>
			</div>

            {% if posts %}
                <br><br>
                <hr><hr><br>
                <div class="post_title">Comment Area:</div>
                {% for post in posts %}
		            <div class="post" style="margin-left:30px; color: white">{{ post.author_id }}</div>
		            <div class="post" style="margin-left:30px; color: white">{{ post.create_date }}</div>
		            <div class="post" style="margin-left:30px; border-style:double; color: white" >{{ post.comment }}</div><br><br>
                {% endfor %}
            {% else %}
                <br><br>
                <hr><br>
                <div class="post" style="margin-left:30px; color: white">No post here. You can publish one first.</div><br><br>
            {% endif %}

            <form action="" method="post" novalidate style="width: 100%;">
                {{ form.hidden_tag() }}
                <div class="comment_body" >{{ form.content }}</div>
                <div class="comment_submit">{{ form.submit }}</div>
            </form>

		</div>

		<div class="footing">
			@Yunkai.li
			<br />
			Reference by <a href="https://algorithm-visualizer.org/">https://algorithm-visualizer.org/</a>
		</div>
	</body>
</html>
